{% extends 'layout.html' %}

{% block title %}
    Series | 15 Most Rated Shows
{% endblock %}

{% block content %}
    <div class="card">
        <h1>15 Most Rated Shows</h1>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Year</th>
                    <th>Average Runtime Length</th>
                    <th>First Genre</th>
                    <th>Trailer</th>
                    <th>Homepage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for show in shows %}
                        <td>{{ show.title }}</td>
                        <td>{{ show.release_year }}</td>
                        <td>{{ show.average_runtime_length }}</td>
                        <td>{{ show.first_genre }}</td>
                        <td><a href="{{ show.trailer }}">{{ show.trailer }}</a></td>
                        <td><a href="{{ show.homepage }}">{{ show.homepage }}</a></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}